.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abText, .map-text{
  text-align: center;
  font-size: 25px;
  font-family: "Arial";
  margin: 10px;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-right{
  width: 620px;
  height: 200px;
  font-size: 25px;
  font-family: "Calisto MT";
}
.main-right b {
  display: block;
  text-align: center;
  font-size: 30px;
}

footer {
  background: #a9c3e2;
  padding: 0;
  margin: 0;
  height: 60px;
  width: 100%;
}
.copyright{
  padding: 19px;
  font-size: 18px;
}
.map{
   margin: 0;
   width: 900px;
   height: 500px;
   border: 2px solid coral;
 }
agm-map {
  height: 400px;
}
button{
  width: 150px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}
ul{
  list-style: none;
  margin-right: 90px;
  float: right;
  margin-top: -1px;
}
ul li{
  padding: 3px;
}
ul li:hover{
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid black;
}
.map-text{
  margin: 20px;
}
