html{
  font-size: 16px;
}
body{
  margin: 0;
  padding: 0;
}
.logo{
  font-size: 27px;
  font-family: "Imprint MT Shadow" ;
  color: #ccffff;
}
.menu-top{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-align: center;
  background:  #66ccff;
  height: 85px;
}
ul li{
  list-style: none;
}
ul li a {
  text-decoration: none;
}
.menu-m{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.menu-link{
  color: #ffffff;
}
.menu-link:hover{
  border-bottom: 4px solid lightblue;
}
